{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Excluir Carregamento
{% endblock page_title %}


{% block content %}
  <br>
  <h1 align="center"><strong>EXCLUIR CARREGAMENTO</strong></h1>
  <br>
    <table class="table table-striped table-hover" style="border-radius:2%; box-shadow: 0 0 10px #000; bg-color: #F7F2E7; border-radius: 15px; overflow: hidden; border: 3px #000; font-family: Trebuchet MS">
      <thead>
        <tr align="center">
          <th scope="col">ID</th>
          <th scope="col">DATA DE ENVIO</th>
          <th scope="col">DATA DE RECEBIMENTO</th>
          <th scope="col">EMPRESA DE ORIGEM</th>
          <th scope="col">EMPRESA DE DESTINO</th>
          <th scope="col">QUANTIDADE DE PALLETS</th>
          <th scope="col">VENDA OU DESCARTE</th>
          <th scope="col">MOTORISTA</th>
          <th scope="col">Nº DA NOTA FISCAL</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr align="center">
          <th scope="row">{{ cargo.pk }}</th>
          <td>{{ cargo.shipment_date }}</td>
          <td>{{ cargo.unloading_date|default:"-" }}</td>
          <td>{{ cargo.origin_company }}</td>
          <td>{{ cargo.destination_company }}</td>
          <td>{{ cargo.pallets_quantity }}</td>
          <td>
            {% if cargo.sale_or_disposal %}
              Sim
            {% else %}
              Não
            {% endif %}
          </td>
          <td>{{ cargo.driver }}</td>
          <td>{{ cargo.number_nf }}</td>
          <td>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-danger" style="border: 2px solid #000">EXCLUIR</button>
              <a href="{% url 'cargo_list' %}" class="btn btn-primary" style="border: 2px solid #000">VOLTAR</a>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

{% endblock content %}
