{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    Excluir Carregamento
{% endblock page_title %}


{% block content %}
  <br>
  <h1 align="center"><strong>EXCLUIR CARREGAMENTO</strong></h1>
  <br>
  <table id="myTable" class="display table table-striped table-hover" style="box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; border-radius: 15px; overflow: hidden; border: 3px #000; font-family: Trebuchet MS">
    <thead>
      <tr align="center">
        <th scope="col">PLACA</th>
        <th scope="col">QUANTIDADE</th>
        <th scope="col">Nº NF</th>
        <th scope="col">MOTORISTA</th>
        <th scope="col">DATA ENVIO</th>
        <th scope="col">DATA RECEBIMENTO</th>
        <th scope="col">ORIGEM</th>
        <th scope="col">DESTINO</th>
        <th scope="col">VENDA/DESCARTE</th>
        <th scope="col">VALE PALLET</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
          <th scope="row">{{ cargo.vehicle_plate }}</th>
          <td>{{ cargo.pallets_quantity }}</td>
          <td>{{ cargo.number_nf|default:"-" }}</td>
          <td>{{ cargo.driver }}</td>
          <td>{{ cargo.shipment_date }}</td>
          <td>{{ cargo.unloading_date|default:"-" }}</td>
          <td>{{ cargo.origin_company }}</td>
          <td>{{ cargo.destination_company }}</td>
          <td>
            {% if cargo.sale_or_disposal %}
              Sim
            {% else %}
              Não
            {% endif %}
          </td>
          <td>
            {% if cargo.voucher %}
              Sim
            {% else %}
              Não
            {% endif %}
          </td>
          <td>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-danger" style="border: 2px solid #000">EXCLUIR</button>
              <a href="{% url 'cargo_list' %}" class="btn btn-primary" style="border: 2px solid #000">VOLTAR</a>
            </form>
          </td>
        </tr>
    </tbody>
  </table>

{% endblock content %}
