{% extends "main.html" %}

{% block page_title %}
  L
{% endblock page_title %}
{% block content %}
  <br>
  <div class="seven">
    <h1>EMBARCADORES</h1>
  </div>
  <a href="{% url 'company_list' %}" class="btn btn-primary" style="border: 2px solid #000; margin-bottom: 12px; font-family: Trebuchet MS"><strong>VOLTAR</strong></a>
  <table>
    <thead>
      <tr>
        <th>Embarcador</th>
        <th>Dívida Total</th>
      </tr>
    </thead>
    <tbody>
      {% for creditor in creditors %}
        <tr>
          <td>{{ creditor.name }}</td>
          <td>{{ creditor.total_debt }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}