{% extends "main.html" %}

{% block page_title %}
  Empresas Cadastradas
{% endblock page_title %}
{% block content %}
  <br>
  <div class="seven">
    <h1>LISTA DE EMPRESAS</h1>
  </div>
  <a href="{% url 'company_create' %}" class="btn btn-success" style="border: 2px solid #000; margin-bottom: 12px; font-family: Trebuchet MS"><strong>NOVA EMPRESA</strong></a>
  <div>
    <table id="myTable" class="display table table-striped table-hover" style="align:center; border-radius:2%; box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; border-radius: 15px; overflow: hidden; border: 3px #000; font-family: Trebuchet MS">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">NOME</th>
          <th scope="col">SALDO DE PALLETS</th>
          <th scope="col">ESTOQUE DE PALLETS</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for company in company_list %}
          <tr>
            <th scope="row">{{ company.pk }}</th>
            <td>{{ company.name }}</td>
            <td>{{ company.pallets_balance }}</td>
            <td>
              {% if company.is_reiter_branch %}
                {{ company.pallets_storage }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>
              <a href="{% url 'company_debts' pk=company.pk %}" class="btn btn-primary btn-sm" style="border: 2px solid #000">DETALHAR</a>
              <a href="{% url 'company_update' pk=company.pk %}" class="btn btn-secondary btn-sm" style="border: 2px solid #000">EDITAR</a>
              <a href="{% url 'company_delete' pk=company.pk %}" class="btn btn-danger btn-sm" style="border: 2px solid #000">EXCLUIR</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}

