{% extends "main.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
  {% if cargo.pk %}
    Editar Carregamento
  {% else %}
    Novo Carregamento
  {% endif %}
{% endblock page_title %}

{% block content %}
  <br>
  <main class="container" style="box-shadow: 0 0 10px #000; width: 30%; margin: auto; border: 1px solid #000; border-radius: 2%; background-color: #74a4fd">
    <br>
    {% if cargo.pk %}
      <h1 align="center">Editar Carregamento</h1>
    {% else %}
      <h1 align="center">Novo Carregamento</h1>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
     <strong> {{ form|crispy }} </strong>
      <button type="submit" style="box-shadow: 0 0 10px #000" class="btn btn-success">Salvar</button>
      <a href="{% url 'cargo_list' %}" style="box-shadow: 0 0 10px #000" class="btn btn-secondary">Voltar</a>
    </form>
    <br>
  </main>
{% endblock content %}
